* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  background: #fff;
}

header {
  background: #fff;
  color: #000;
  padding: 1em 0;
  position: relative;
  border-bottom: 1px solid #000;
}
header::after {
  content: '';
  clear: both;
  display: block;
}
header .container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}
header .logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}
header .logo span {
  font-weight: 400;
}
header .site-nav {
  z-index: 1000;
  position: absolute;
  top: 100%;
  right: 0;
  background: #1dccc3;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
}
header .site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header .site-nav li {
  border-bottom: 1px solid #f8dcb5;
}
header .site-nav li:last-child {
  border-bottom: none;
}
header .site-nav li:first-child {
  border-top: 1px solid #000;
}
header .site-nav li a {
  color: #F0F8EA;
  display: block;
  padding: 2em 4em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}
header .site-nav li a:hover, header .site-nav li a:focus {
  background: #E4B363;
  color: #464655;
}
header .site-nav--open {
  clip-path: circle(250% at top right);
}
header .site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255, 255, 255, 0.4);
}
header .menu-toggle {
  padding: 1em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}
header .menu-toggle .hamburger, header .menu-toggle .hamburger::before, header .menu-toggle .hamburger::after {
  content: '';
  display: block;
  background: #000;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}
header .menu-toggle .hamburger::before {
  transform: translateY(-6px);
}
header .menu-toggle .hamburger::after {
  transform: translateY(3px);
}
header .open .hamburger {
  transform: rotate(45deg);
}
header .open .hamburger::before {
  opacity: 0;
}
header .open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

.grid {
  display: grid;
  grid-template-columns: 20% 2fr 20%;
  grid-template-rows: 150px .2fr 250px 250px 250px .5fr 1fr;
  grid-template-areas: "img img img" ". search ." ". section-a ." ". section-b ." ". section-c ." "social social social" "footer footer footer";
}
.grid .main-img {
  grid-area: img;
  margin-bottom: 20px;
}
.grid .main-img img {
  width: 100%;
  height: auto;
}
.grid .search-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  grid-area: search;
}
.grid .search-container #search-bar {
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #000;
  box-shadow: 2px 5px rgba(136, 136, 136, 0.2);
  font-weight: bold;
  color: #000;
}
.grid .section-a {
  grid-area: section-a;
}
.grid .section-a h1 {
  margin-bottom: 10px;
  font-weight: lighter;
}
.grid .section-a .circle {
  display: inline-block;
  margin: 5%;
  background: red;
  min-width: 70px;
  min-height: auto;
  width: 10%;
  height: auto;
  border-radius: 50%;
}
.grid .section-a .circle img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.grid .section-b {
  grid-area: section-b;
}
.grid .section-b h1 {
  margin-bottom: 10px;
  font-weight: lighter;
}
.grid .section-b .circle {
  display: inline-block;
  margin: 5%;
  background: red;
  min-width: 70px;
  min-height: auto;
  width: 10%;
  height: auto;
  border-radius: 50%;
}
.grid .section-b .circle img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.grid .section-c {
  grid-area: section-c;
}
.grid .section-c h1 {
  margin-bottom: 10px;
  font-weight: lighter;
}
.grid .section-c .circle {
  display: inline-block;
  margin: 5%;
  background: red;
  min-width: 70px;
  min-height: auto;
  width: 10%;
  height: auto;
  border-radius: 50%;
}
.grid .section-c .circle img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.grid .sidebar {
  top: 250px;
  position: fixed;
}
.grid .sidebar .label {
  padding: 10px;
  background: #1dccc3;
  color: #fff;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  text-orientation: upright;
  -webkit-font-feature-settings: "vkrn", "vpal";
  font-feature-settings: "vkrn", "vpal";
}
.grid .social {
  grid-area: social;
  display: flex;
  justify-content: space-around;
  background: #1dccc3;
  grid-row-gap: 0px;
}
.grid .social div {
  padding: 2em;
}
.grid .social div:hover {
  background: #f8dcb5;
}
.grid .social div i {
  font-size: 2em;
  color: #fff;
}
.grid footer {
  grid-area: footer;
  background: #fff;
  border-top: 1px solid #000;
}
.grid footer h3 {
  padding: .5em;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}
.grid footer h3 span {
  font-weight: 400;
}
.grid footer p {
  padding: .5em;
}

/*# sourceMappingURL=style.css.map */
